  * {
    box-sizing: border-box;
    scrollbar-width: none;
    font-family: 'Lato Thin', 'sans-serif';
    outline: none;
    margin: 0;
    padding: 0;
  }

  *::-webkit-scrollbar {
    display: none;
    -webkit-appearance: none;
}
