* {
  font-family: 'Lato Light', serif;
  color: var(--dark-grey);
  }

  body {
    background: rgb(78, 84, 200);
    background: linear-gradient(126deg, rgba(78, 84, 200, 1) 0%, rgba(143, 148, 251, 1) 100%);
    position: relative;
    height: 100vh;
    width: 100vw;
  }

  #page-wrapper {
    display: block;
    height: 100%;
    width: 100%;
    max-width: 1000px;
    max-height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--light-grey);
    box-shadow: 0 0 0px 5px #ffffff;
}